@page
@model IndexModel
@{
    ViewData["Title"] = "La Casa de los Amantes de la Pizza";
    TimeSpan timeInBusiness = DateTime.Now - new DateTime(2018, 8, 14);
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Contoso Pizza</h1>
    <p>¡La mejor pizza de la ciudad durante @Convert.ToInt32(timeInBusiness.TotalDays) dias!</p>
</div>
