@page
@model ContosoPizza.Pages.ListadePizzasModel
@{
    ViewData["Title"] = "Lista de Pizzas 🍕";
}

<h1>Lista de Pizzas 🍕</h1>

<!-- Las pizzas nuevas estarán aquí -->

<!-- La lista de las pizzas está aquí -->